@import url("../../styles/root.css");

.aside {
  display: flex;
  position: fixed;
  height: 100vh;
  z-index: 0;
}

.aside nav {
  display: flex;
  flex-direction: column;
  width: 240px;
  box-shadow: var(--shadow);
  padding: 2px;
}

.aside nav .logo {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 8%;
  gap: 2px;
}

.aside nav h1 {
  font-size: 25px;
  font-family: 'Poppins';
  color: var(--color-primary4);
}

.aside nav .logo i {
  margin-top: 4px;
  color: var(--color-primary4);
}

.aside ul {
  list-style: none;
  padding: 20px;
  margin-top: 15px;
}

.aside li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}

.aside a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 550;
  transition: 0.2s ease;
  border-bottom: 2px solid;
  border-color: transparent;
}

.aside a:hover {
  transform: translateY(-2px);
  color: var(--color-primary3);
  border-color: var(--color-primary3);
}

