@import url("/src/styles/root.css");

.container .container-text {
  display: flex;
  position: absolute;
  background: transparent;
  width: 945px;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation: text-appear 0.3s ease;
}

.container .container-text h1 {
  background: transparent;
  color: var(--color-background);
  width: 450px;
  font-size: 55px;
  font-weight: 700;
  animation: image-text-fonts 1.2s ease;
}

@keyframes text-appear {
  0% {
    opacity: 0;
    margin-top: 10;
    transform: translateY(-10px);
  }
  50% {
    margin-top: 0;
  }
}

@keyframes image-text-fonts {
  0% {
    font-family: "Google Sans Code";
  }
  50% {
    font-family: "Merriweather";
  }
  100% {
    font-family: "Zalando Sans Expanded";
  }
}

.container .container-image {
  display: flex;
  width: 945px;
  z-index: 0;
}

.container .container-register {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 35%;
  height: 70%;
  position: absolute;
  margin-left: 58%;
  margin-top: 8%;
}

.container .container-register h1 {
  font-size: 45px;
  font-weight: 500;
  color: var(--color-primary3);
  font-family: "Poppins", sans-serif;
  margin-bottom: 5%;
}

.container .container-register form {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  gap: 15px;
}

.container .container-register form input {
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  padding-bottom: 10px;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-bottom: 2.5px solid;
  border-color: var(--color-primary5);

  &::placeholder {
    font-size: 15px;
  }

  &:focus {
    border-color: var(--color-primary3);
  }
}

.container .container-register form .button-submit {
  display: flex;
  margin-top: 5%;
  width: 100%;
  align-items: center;
}

.container .container-register form a {
  display: flex;
  margin-left: auto;
  font-size: 14px;
  font-weight: 450;
  color: var(--color-primary3);
  text-decoration: underline;
}
