@import url("/src/styles/root.css");

.button {
    border: 2.5px solid;
    border-radius: 5px;
    border-color: var(--color-primary3);
    font-family: 'Poppins';
    font-size: 16;
    font-weight: 500;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--color-primary3);
    cursor: pointer;
    transition: 0.1s ease;

    &:hover {
        background-color: var(--color-primary3);
        color: var(--color-background);
    }
}