@import url("../../styles/root.css");

main {
  display: flex;
  flex-direction: column;
  padding-left: 350px;
  padding-right: 110px;
  margin-bottom: 700px;
}

.home-title {
  margin-top: 5%;
  font-size: 35px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid;
  border-color: var(--color-primary4);
  color: var(--color-primary4);
  animation: itens-appear 0.4s ease;
}

main .analytcs {
  display: flex;
  gap: 3%;
}

main .analytcs .balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  border-radius: 8px;
  color: transparent;
  width: 35%;
  height: 150px;
  padding: 2%;
  animation: balance-card-appear 0.5s ease 0.5s;
  animation-fill-mode: forwards;
}

main .analytcs .balance h3 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

main .analytcs .balance h2 {
  display: flex;
  align-items: center;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 500;
}

main .analytcs .turnover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  border-radius: 8px;
  background: transparent;
  color: transparent;
  width: 35%;
  height: 150px;
  padding: 2%;
  animation: turnover-card-appear 0.5s ease 0.6s;
  animation-fill-mode: forwards;
}

main .analytcs .turnover h3 {
  display: flex;
  align-items: center;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

main .analytcs .turnover h2 {
  display: flex;
  align-items: center;
  background: transparent;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 500;
}

main .analytcs .transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  border-radius: 8px;
  background: transparent;
  color: transparent;
  width: 35%;
  height: 150px;
  padding: 2%;
  animation: transactions-card-appear 0.5s ease 0.7s;
  animation-fill-mode: forwards;
}

main .analytcs .transactions h3 {
  display: flex;
  align-items: center;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

main .analytcs .transactions h2 {
  display: flex;
  align-items: center;
  background: transparent;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 500;
}

@keyframes itens-appear {
  0% {
    margin-top: 6%;
    color: transparent;
    border-color: transparent;
  }
  100% {
    margin-top: 5%;
    color: var(--color-primary4);
    border-color: var(--color-primary4);
  }
}

@keyframes balance-card-appear {
  from {
    margin-top: 10%;
  }
  to {
    margin-top: 5%;
    box-shadow: var(--shadow);
    color: black;
  }
}

@keyframes transactions-card-appear {
  from {
    margin-top: 10%;
  }
  to {
    margin-top: 5%;
    box-shadow: var(--shadow);
    background-color: var(--color-primary3);
    color: var(--color-background);
  }
}

@keyframes turnover-card-appear {
  from {
    margin-top: 10%;
  }
  to {
    margin-top: 5%;
    box-shadow: var(--shadow);
    background-color: var(--color-primary2);
    color: var(--color-background);
  }
}