:root {
    --shadow: rgba(95, 95, 95, 0.212) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    --color-primary2: #75cd49;
    --color-primary3: #39a043;
    --color-primary4: #3b8c24;
    --color-background: rgb(248, 248, 248);
}
